@{
    // ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Party! </title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div class="text-center">
        <div>
            <h3> We're going to have an exciting party. <br /> </h3>
            <h4> And YOU are invted ! ! !</h4>
        </div>
        <a asp-action="RsvpForm" class="btn-sm btn-dark">RSVP Form</a>
    </div>
</body>
</html>
